In [1]:
import requests
from rest_framework import status
import json
import pandas as pd

WORKDIR = 'C:/Users/thewr/git/mit_data_science.git/'

#headers = {
#  'secret-key': '$2b$10$0YS2weSVQVpV2AgyA8SxWeqVy3878f6RBZtQj1qWU0NrBqFsHvep6',
#  'Cookie': '__cfduid=dd809ec4d09a8f02f144c919827a774af1596981865'
#}

url='http://localhost:3000/pjme'
base_url='http://127.0.0.1:8000/'
#payload = {}

# Recuperar Dados

In [2]:
#obj = requests.get(url,headers=headers, data=payload).json()
obj = requests.get(url).json()

data = pd.DataFrame.from_dict(obj)
data.head()

              Datetime  PJME_MW
0  2002-01-01 01:00:00    30393
1  2002-01-01 02:00:00    29265
2  2002-01-01 03:00:00    28357
3  2002-01-01 04:00:00    27899
4  2002-01-01 05:00:00    28057

In [ ]:
data.tail()

In [ ]:
data.columns = ['date','PJME_MW']

In [ ]:
data['date'] = data['date'].astype('datetime64[ns]')

In [ ]:
data.info()

In [ ]:
data.tail()

In [ ]:
data.head()

In [ ]:
data_minima = pd.Timestamp('30-12-2006 23:00:00')

In [ ]:
data = data[data['date'] > data_minima]

In [ ]:
data.head()

In [ ]:
data.tail()

# Post data

In [ ]:
url = base_url + 'measurements/'

for i, row in data.iterrows():
    post_data = row.to_dict()
    #post_data['supplier'] = supplier_name
    response = requests.post(url, post_data)

    if response.status_code == status.HTTP_400_BAD_REQUEST:
        print('Medição já existente ')