In [3]:
import requests
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline


baseurl = 'https://covid-api.com/api/'

# Carrega Regi√µes

In [7]:
url = baseurl + '/provinces/BRA'
obj = requests.get(url).json()
df_provinces = pd.DataFrame.from_dict(obj['data'])
df_provinces.head()

   iso       lat      long    name  province
0  BRA  -14.2350  -51.9253  Brazil
1  BRA   -9.0238   -70.812  Brazil      Acre
2  BRA   -9.5713   -36.782  Brazil   Alagoas
3  BRA     0.902   -52.003  Brazil     Amapa
4  BRA   -3.4168  -65.8561  Brazil  Amazonas