In [1]:
import requests
import pandas as pd

%store -r WORKDIR

if 'WORKDIR' not in dir():
    WORKDIR = 'C:/Users/thewr/git/mit_data_science.git/'

#headers = {
#  'secret-key': '$2b$10$0YS2weSVQVpV2AgyA8SxWeqVy3878f6RBZtQj1qWU0NrBqFsHvep6',
#  'Cookie': '__cfduid=dd809ec4d09a8f02f144c919827a774af1596981865'
#}

url='http://localhost:3000/pjme'
payload = {}

data_raw_file = WORKDIR + '/Data/Raw/energy_consumption_data_modeling.parquet'

# Carga de Dados para o Desenvolvimento

In [2]:
#obj = requests.get(url,headers=headers, data=payload).json()
obj = requests.get(url).json()

data = pd.DataFrame.from_dict(obj)
data.head()

              Datetime  PJME_MW
0  2002-01-01 01:00:00    30393
1  2002-01-01 02:00:00    29265
2  2002-01-01 03:00:00    28357
3  2002-01-01 04:00:00    27899
4  2002-01-01 05:00:00    28057

In [3]:
data.shape

(145366, 2)

In [4]:
data.head()

              Datetime  PJME_MW
0  2002-01-01 01:00:00    30393
1  2002-01-01 02:00:00    29265
2  2002-01-01 03:00:00    28357
3  2002-01-01 04:00:00    27899
4  2002-01-01 05:00:00    28057

# Export Data

In [5]:
data.to_parquet(data_raw_file)